.leagueInfoCard {
  background: linear-gradient(90deg, #1976d2 0%, #42a5f5 100%);
  border-radius: 20px !important;
  box-shadow: none !important;

  .cardContent {
    margin: 16px 0 0 0;
    padding: 32px;
    background-color: white !important;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .MuiTypography-h5 {
    margin-bottom: 16px;
    font-weight: 600;
  }

  .MuiTypography-h6 {
    font-weight: 500;
    margin-bottom: 8px;
  }

  .MuiDivider-root {
    margin: 16px 0;
  }

  .MuiChip-root {
    margin: 2px;
  }

  .MuiButton-root {
    text-transform: none;
    font-weight: 500;
  }
}

.leagueInfoTitle {
  color: white !important;
  margin: 38px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 32px;
}
