// components/Subscribe.module.scss
.subscribePaper {
  padding: 20px;
  border-radius: 10px;
  transition: background 0.3s;
  background-color: #1976d233 !important;
  &:hover {
    background: #1976d24d !important;
  }
}
