.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 64px;
  max-height: calc(100vh - 64px);
  width: 100%;
  margin-bottom: 100px;
}

.leaguesTitle {
  text-align: left;
  margin-top: 30px;
}

.noActionsMessage {
  font-size: 14px;
  color: #6e6e6e;
  margin: 10px;
}
